@import "../../styles/core.scss";

.registration-page {
    min-height: 100vh;
    display: grid;
    justify-items: center;

    &__wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.registration-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.registration-card {
    background: $background3;
    width: 100%;
    max-width: 520px;
    padding: 3rem;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    box-sizing: border-box;

    &__header {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__title {
        margin: 0 0 0.5rem 0;
    }

    &__subtitle {
        margin: 0;
    }

    &__footer {
        margin-top: 2rem;
        text-align: center;

        &-text {
            margin: 0;
        }

        &-link {
            text-decoration: none;
            margin-left: 5px;

        }
    }
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &__row {
        display: flex;
        gap: 1rem;

        .registration-form__group {
            flex: 1;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }


    &__input {
        padding: 12px 15px;
        border: 1px solid $border;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.2s;
        background: $background1;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            border-color: $primary;
            background: $background3;
        }

        &::placeholder {
            color: lighten($text3, 10%);
        }
    }

    &__password-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            padding-right: 45px;
        }
    }

    &__password-toggle {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        display: flex;
        align-items: center;

        img {
            width: 20px;
            height: 20px;
        }
    }

    &__submit {
        margin-top: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 10px;
        background: $primary;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: darken($primary, 10%);
        }

        &:disabled {
            background: lighten($primary, 20%);
            cursor: not-allowed;
        }
    }

    &__message {
        text-align: center;

        &--error {
            background: rgba($error, 0.1);
            border: 1px solid rgba($error, 0.2);
            padding: 1rem 2rem;
            color: $error;
            border-radius: 10px;
        }

        &--button {
            background: none;
            border: 1px solid $secondary;
            padding: 1rem 2rem;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            background-color: $secondary;
            border: 2px solid $secondary;
            transition: all 0.3s ease;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            &:hover {
                background-color: $background3;
                color: $secondary;
            }
        }
    }
}

.registration-success {
    text-align: center;
    padding: 1rem 0;

    &__icon {
        color: $primary;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;

        svg {
            stroke-width: 1.5px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    &__button {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}

@media (max-width: 576px) {
    .registration-card {
        padding: 2rem 1.5rem;
    }

    .registration-form__row {
        flex-direction: column;
        gap: 1.25rem;
    }
}