@import "../../../styles/core.scss";

.select-input-wrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-bottom: 1rem;
    position: relative;

    .input-label {
        margin-bottom: 0.5rem;

        .required-mark {
            color: $error;
            margin-left: 0.2rem;
        }
    }

    .select-trigger {
        padding: 0.75rem;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: $background3;
        width: inherit;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: border-color 0.3s ease, background-color 0.3s ease;
        min-height: 45px;

        &:hover {
            border-color: $secondary;
        }

        &.open {
            border-color: $secondary;
        }

        .select-value {
            color: $text;

            &.placeholder {
                color: $border;
            }
        }

        .arrow-icon {
            min-width: 14px;

            path {
                stroke: $text;
                transition: stroke 0.3s ease;
            }

            transition: transform 0.3s ease;

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }

    .select-options-list {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        background: $background3;
        border: 1px solid $border;
        border-radius: 5px;
        z-index: 100;
        max-height: 250px;
        overflow-y: auto;
    }

    .select-option {
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: $background2;
        }

        &.selected {
            background-color: $background2;
            font-weight: 600;
            color: $secondary;
        }
    }

    &.disabled {
        .select-trigger {
            background-color: $background2;
            cursor: not-allowed;
            opacity: 0.7;
        }

        .input-label {
            opacity: 0.7;
        }
    }
}