@import "../../../styles/core.scss";

.textarea-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .input-label {
        margin-bottom: 0.5rem;

        .required-mark {
            color: $error;
            margin-left: 0.2rem;
        }
    }

    .form-control {
        padding: 0.75rem;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: $background3;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        min-height: 80px;

        &::placeholder {
            color: $border;
        }

        &:focus {
            border-color: $secondary;
        }

        &:disabled {
            background-color: $background2;
            cursor: not-allowed;
            opacity: 0.7;
        }
    }
}