@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@mixin baseFontSettings($fontName, $fontSize, $fontWeight, $color) {
    font-family: $fontName;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
}

@font-face {
    font-family: 'MoonbrightDemo';
    src: url('../../assets/fonts/MoonbrightDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Serena';
    src: url('../../assets/fonts/Serena.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.input-label,
.multi-value-input__label,
.products__image-label,
.article-creator__category-select {
    @include baseFontSettings(Poppins, 16px, 600, $text2);
}

.form-control,
.select-trigger,
.select-options-list,
.ingredients__no-tags,
.multi-value-input__field,
.products__file-label,
.products__more-ingredients,
.login-card__footer-text,
.modal-description,
.registration-form__checkbox-text,
.registration-card__footer-text,
.products__card,
.reset-password__success-subtext {
    @include baseFontSettings(Poppins, 14px, 400, $text3);
}

.action-btn,
.clea-menu__profile-trigger {
    @include baseFontSettings(Poppins, 16px, 600, $secondary);
}

.tag-conflicts__title,
.ingredients__title,
.products__title,
.articles-management__title,
.dashboard__title,
.article-creator__title {
    @include baseFontSettings(Poppins, 38px, 600, $text);
}

.tag-conflicts__subtitle,
.ingredients__subtitle,
.products__subtitle,
.articles-management__subtitle,
.dashboard__subtitle,
.email-verification__text--secondary,
.reset-password__subtitle {
    @include baseFontSettings(Poppins, 16px, 400, $secondary);
}

.tag-conflicts__message--error,
.tag-conflicts__message--error,
.login-form__message--error,
.clea-menu__dropdown-item,
.email-verification__text--error,
.reset-password__message--error {
    @include baseFontSettings(Poppins, 16px, 400, $error);
}

.tag-conflicts__message--success,
.multi-value-input__chip,
.articles-management__message--success {
    @include baseFontSettings(Poppins, 16px, 400, $primary);
}

.tag-conflicts__section-title,
.ingredients__section-title,
.products__section-title {
    @include baseFontSettings(Poppins, 24px, 600, $text2);
}

.tag-conflicts__table-header,
.ingredients__table-header,
.products__card-name {
    @include baseFontSettings(Poppins, 16px, 600, $secondary);
}

.tag-conflicts__tag-badge,
.ingredients__col-name-elem,
.ingredients__tag-item,
.login-card__footer-link,
.registration-card__footer-link,
.article-block__type {
    @include baseFontSettings(Poppins, 14px, 600, $secondary);
}

.conflict-level-badge,
.table-btn,
.multi-value-input__add-btn,
.products__remove-image-btn,
.article-card__category,
.article-card__action-btn,
.login-form__resend-btn,
.dashboard-card__button,
.registration-form__message--button {
    @include baseFontSettings(Poppins, 14px, 600, $background3);
}

.tag-conflicts__col-description-elem,
.tag-conflicts__col-date-elem,
.ingredients__col-origin-elem,
.ingredients__col-description-elem,
.products__skin-type-legend,
.products__checkbox-label,
.products__card-detail,
.products__card-description,
.products__card-skin-types,
.products__card-ingredients,
.products__card-rating,
.article-card__meta-value,
.registration-form__message,
.article-creator__title-input,
.form-textarea,
.form-input,
.form-select,
.clea-reset-header-paragraph,
.reset-password__label,
.reset-password__input {
    @include baseFontSettings(Poppins, 14px, 400, $text2);
}

.article-card__meta-label,
.article-card__stat-value,
.control-btn {
    @include baseFontSettings(Poppins, 14px, 600, $text2);
}

.multi-value-input__remove-btn {
    @include baseFontSettings(Poppins, 20px, 600, $primary);
}

.products__skin-tag {
    @include baseFontSettings(Poppins, 12px, 400, $secondary);
}

.articles-management__section-title {
    @include baseFontSettings(Poppins, 24px, 600, $text2);
}

.articles-management__description,
.dashboard-card__description,
.login-card__subtitle,
.registration-card__subtitle,
.article-creator__empty,
.loading-container,
.articles-management__loading,
.articles-management__empty-paragraph {
    @include baseFontSettings(Poppins, 16px, 400, $text3);
}

.articles-management__create-btn,
.add-block-btn,
.save-article-btn,
.remove-image-btn-small,
.articles-management__create-first-btn {
    @include baseFontSettings(Poppins, 18px, 600, $background3);
}

.modal-btn,
.login-form__submit,
.registration-form__submit,
.clea-menu__login-btn,
.email-verification__button,
.profile-account__btn,
.profile-account__btn-save,
.reset-password__submit-btn {
    @include baseFontSettings(Poppins, 16px, 500, $background3);
}

.profile-account__btn-save--secondary,
.profile-account__btn--secondary {
    @include baseFontSettings(Poppins, 16px, 500, $secondary);
}

.article-card__title,
.modal-content,
.reset-password__success-title {
    @include baseFontSettings(Poppins, 20px, 600, $text);
}

.articles-management__empty {
    @include baseFontSettings(Poppins, 20px, 400, $border);
}

.clea-menu__link,
.reset-password__success-text {
    @include baseFontSettings(Poppins, 16px, 500, $text2);
}

.clea-menu__logo-text {
    @include baseFontSettings('Serena', 32px, 800, $text);
}

.dashboard-card__title {
    @include baseFontSettings(Poppins, 24px, 600, $text);
}

.login-card__title,
.registration-card__title,
.email-verification__title,
.clea-reset-header-heading,
.reset-password__title {
    @include baseFontSettings(Poppins, 28px, 600, $text);
}

.modal-input,
.registration-form__input,
.article-block__content-paragraph,
.article-block__content-list,
.login-form__input,
.profile-account__input,
.profile-account__checkbox-label {
    @include baseFontSettings(Poppins, 16px, 400, $text);
}

.login-form__forgot-btn {
    @include baseFontSettings(Poppins, 14px, 500, $secondary);
}

.registration-form__label,
.add-list-item-btn,
.file-label,
.registration-success__content,
.login-form__label,
.login-form__message-paragraph,
.registration-form__message--paragraph {
    @include baseFontSettings(Poppins, 14px, 500, $text2);
}

.article-creator__panel-title,
.article-block__content-heading,
.articles-management__empty-heading {
    @include baseFontSettings(Poppins, 24px, 700, $text);
}

.message {
    @include baseFontSettings(Poppins, 14px, 500, $background3);
}

.alt-text {
    @include baseFontSettings(Poppins, 12px, 400, $text3);
}

.form-group,
.clea-reset-field__label {
    @include baseFontSettings(Poppins, 14px, 600, $text);
}

.clea-reset-error,
.products__message--error {
    @include baseFontSettings(Poppins, 14px, 400, $error);
}

.profile-account__success {
    @include baseFontSettings(Poppins, 14px, 400, $background3);
}

.profile-account__avatar-placeholder {
    @include baseFontSettings(Poppins, 48px, 600, $background3);
}

.profile-account__label,
.reset-password__subtitle {
    @include baseFontSettings(Poppins, 14px, 600, $text3);
}